*.lai
*.out
# Compiled Dynamic libraries
# Compiled Static libraries
*.so
# Fortran module files
*.lo
*.lib
*.la
*.app
*.a
*.o
*.exe
*.gch
*.slo
SDisk
test1
*.obj
# Executables
# Compiled Object files
*.dylib
*.dll
*.pch
*.mod
# Precompiled Headers
